@model IEnumerable<GameReview.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-2">
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>

            <th class="col-4">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-2">
                Grade
            </th>
            <th class="col-2">
                Summary
            </th>


            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr class="d-flex">
            <td class="col-2">
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" class="img-thumbnail img-fluid  h-auto" />
            </td>

            <td class="col-4">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-2">
                @foreach (var i in item.Reviews)
                {
                    @Html.DisplayFor(modelItem => i.Grade)
                }
            </td>
            <td class="col-2">
                @foreach (var i in item.Reviews)
                {
                    @Html.DisplayFor(modelItem => i.Summary)
                }
            </td>
            <td class="col-2">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
