@model GameReview.Models.ViewModel.IndexVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "一覧";
    var isAuthorized = User.IsInRole(GameReview.Authorization.Constants.ReviewAdministratorsRole);

}

<a asp-action="Create">Create New</a>


<div class="d-flex justify-content-between bd-highlight">

    <div class="p-2 bd-highlight">
        <form class="form-inline" asp-action="Index" method="get">
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control" />
            <input type="hidden" name="SortCond" value="@ViewData["SortCond"]"/>
            <input type="submit" value="&#xf002" class="fas btn btn-primary form-control" />

            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-window-close"></i></a>


        </form>
    </div>
    <div class="p-2 bd-highlight">

        <form method="get" asp-action="Index" class="form-inline" name="sortSelectForm">

            <div class="form-group">
                <label> 並び替え:</label>
                <select asp-for="SortCond"
                        asp-items="Html.GetEnumSelectList<GameReview.Models.ViewModel.IndexVM.SortCondEnum>()"
                        class="form-control" onchange="sortFormSubmit(this.value)">
                </select>
                <input type="hidden" name="SearchString" value="@ViewData["CurrentFilter"]" />
            </div>
        </form>
    </div>


</div>


<div class="row">
    @foreach (var item in Model.Game)
    {


    <div class="col-lg-6 p-1">
        @if (isAuthorized) { 
        <a class="float-right" asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
        }
        <div class="card mb-3" style="">
            <div class="row no-gutters">
                <div class=" col-sm-5 d-flex align-items-center justify-content-center bg-dark">
                    <div class=" d-none d-sm-block">
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" class="w-100" />
                        </a>
                    </div>

                </div>
                <div class="col-sm-6 col-10">
                    <div class="card-body">
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        </a>
                        <p class="card-text Index-Summary">
                            <small>
                                @foreach (var i in item.Reviews)
                                {
                                    @Html.DisplayFor(modelItem => i.Summary)
                                }
                            </small>
                        </p>

                    </div>
                </div>
                <div class="col-sm-1 col-2  bg-light d-flex ">
                    <p class="mx-auto display-4">
                        @foreach (var i in item.Reviews)
                        {
                            @Html.DisplayFor(modelItem => i.Grade)
                        }
                    </p>

                </div>

            </div>
        </div>


    </div>

    }

</div>

